<footer>
    <p>Made with ❤ by <a target="_blank" href="https://github.com/ImSumire">@imsumire</a></p>
    <p>Using
        <a target="_blank" href="https://www.11ty.dev/">11ty</a>,
        <a target="_blank" href="https://opendyslexic.org/">OpenDyslexic</a> and
        <a target="_blank" href="https://sass-lang.com/">Sass</a>
    </p>
</footer>