<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="darkreader-lock" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Author: V.F">

    <title>{{ title }}</title>
    <link rel="shortcut icon" href="https://github.com/ImSumire/Educator-for-Young-Autistic-Children/blob/main/assets/images/icon.png?raw=true" type="image/x-icon" />

    {% comment %} <link rel="stylesheet" href="https://github.com/ImSumire/Educator-for-Young-Autistic-Children/blob/main/assets/css/main.min.css"> {% endcomment %}
     <style>
        @media (prefers-color-scheme: dark) {
            :root {
                --bg: #060d13;
                --fg: #dfe9f1;
                --dim: #aeb3b8;
                --title: #c946a4;
                --sub-title: #7c2889;
                --link: #94b8e0;
            }
        }
        @media (prefers-color-scheme: light) {
            :root {
                --bg: #e0e9f0;
                --fg: #121213;
                --dim: #2e3033;
                --title: #ba3694;
                --sub-title: #ca75d7;
                --link: #1f426b;
            }
        }
        @font-face {
            font-family: Dyslexic;
            src: url("/assets/fonts/OpenDyslexic-Regular.woff2") format("woff2");
            font-weight: 400;
            ascent-override: 100%;
            descent-override: 28%;
            font-display: swap;
            size-adjust: 90.15%;
        }
        
        img {
            max-width: 50vw;
        }

        h1 {
            color: var(--title);
            padding-bottom: 0.5rem;
        }

        h2 {
            color: var(--sub-title);
            padding-top: 1.5rem;
        }

        a {
            color: var(--link) !important;
        }

        body {
            color: var(--fg);
            background: var(--bg);
            margin: 0;
            padding: 2rem;
            font-family: Dyslexic;
        }

        main {
            width: 50vw;
            margin: 0 auto;
        }

        article {
            gap: 1.5rem;
            display: flex;
            padding-bottom: calc(1.5rem * 2);
        }
        
        article p {
            margin: 0;
        }

        article section {
            gap: 1.5rem;
            display: flex;
            flex-direction: column;
            width: calc((50vw / 2.0) - 1.5rem);
        }

        article section p {
            font-size: 14px;
            text-align: justify;
            text-justify: inter-word;
            color: var(--dim);
        }

        footer {
            padding-top: 1.5rem;
            position: absolute;
            right: 2rem;
            font-size: 14px;
        }
     </style>
</head>
<body>
    <main class="transition-main">
        <h1>{{ title }}</h1>
        {{ content }}
    </main>
    {% include "footer.liquid" %}
</body>
</html>