<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="darkreader-lock" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Author: V.F">

    <title>{{ title }}</title>
    <link rel="shortcut icon" href="assets/images/icon.png?raw=true" type="image/x-icon" />

    {% comment %} <link rel="stylesheet" href="assets/css/main.min.css"> {% endcomment %}
</head>
<body>
    <main class="transition-main">
        <h1>{{ title }}</h1>
        {{ content }}
    </main>
    {% include "footer.liquid" %}
</body>
</html>